/* Resetowanie stylów dla całej strony */
body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
}

/* Styl dla elementów blokowych */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #2c3e50;
}

/* Nagłówek */
header {
    background-color: #777777;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Nawigacja */
nav {
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
}

nav label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    width: 80%;
    padding: 12px;
    background-color:#777777;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #b9b9b9;
}

/* Sekcja z prognozami */
#weather-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Pojedynczy artykuł prognozy */
.day-forecast {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.day-forecast h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.day-forecast p {
    margin-bottom: 5px;
}

/* Prognoza godzinowa */
.hourly-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    display: none;
}

.hourly-item {
    text-align: center;
    padding: 10px;
    flex-basis: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.hourly-time {
    font-weight: bold;
}

.hourly-icon {
    width: 50px;
    height: 50px;
}

.hourly-temperature {
    margin: 5px 0;
    font-weight: bold;
}

.hourly-description {
    color: #777;
}

.hourly-item img {
    margin-right: 5px;
}

/* Powitalny komunikat */
#welcome-message {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
}

/* Animacja fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated {
    animation-duration: 4s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

/* Media query dla mniejszych ekranów, np. telefony */
@media only screen and (max-width: 600px) {
    input, button {
        width: 100%;
    }

    .day-forecast {
        max-width: 100%;
        margin-right: 0;
    }
}

/* Media query dla średnich ekranów, np. tablety */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    input, button {
        width: 50%;
    }

    .day-forecast {
        max-width: 50%;
        margin-right: 0;
    }
}

/* Media query dla większych ekranów, np. desktop */
@media only screen and (min-width: 1025px) {
    input, button {
        width: 30%;
    }

    .day-forecast {
        max-width: 30%;
        margin-right: 20px;
    }
}